/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  background: #282a36;
  color: #f8f8f2;
  height: 100vh;
  font-family: "Bangers";
  text-align: center;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header {
  width: 100%;
  font-size: 5em;
  background: #44475a;
}

#init-btn {
  font-family: inherit;
  font-size: 2em;
  padding: 0.25em;
  background: #44475a;
  color: #50fa7b;
  border: 0px solid #f8f8f2;
  border-radius: 7px;
  -webkit-box-shadow: 0 3px 3px #000;
          box-shadow: 0 3px 3px #000;
}

#init-btn:hover {
  color: #bd93f9;
}

#arena {
  margin: 2em auto;
  padding: 3em 0 3em 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-grid-columns: 1fr 0.25fr 1fr;
      grid-template-columns: 1fr 0.25fr 1fr;
      grid-template-areas: "char1 vs char2";
}

#arena .char {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#arena .char img {
  width: 30vw;
  max-width: 300px;
}

#arena #char1 {
  grid-area: "char1";
}

#arena #char2 {
  grid-area: "char2";
}

#arena .name {
  font-size: 2em;
  padding: 0.5em;
}

#arena #vs-text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 3em;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */