@import 'reset';

html, body {
  background: #282a36;
  color: #f8f8f2;
  height: 100vh;
  font-family: "Bangers";
  text-align: center;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header {
  width: 100%;
  font-size: 5em;
  background: #44475a;

}

#init-btn {
  font-family: inherit;
  font-size: 2em;
  padding: 0.25em;
  background: #44475a;
  color: #50fa7b;
  border: 0px solid #f8f8f2;
  border-radius: 7px;
  box-shadow: 0 3px 3px #000;
  &:hover {
    color: #bd93f9;
  }
}

#arena {
  margin: 2em auto;
  padding: 3em 0 3em 0;
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr 0.25fr 1fr;
  grid-template-areas:
    "char1 vs char2";
  .char {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 30vw;
      max-width: 300px;
    }
  }
  #char1 {
    grid-area: "char1";
  }
  #char2 {
    grid-area: "char2";
  }
  .name {
    font-size: 2em;
    padding: 0.5em;
  }
  #vs-text {
    align-self: center;
    font-size: 3em;
    font-weight: bold;
  }
}